## CONTRO STATEMENTS

In [1]:
input("Enter your Name")

Enter your NameSri Rama

'Sri Rama'

In [2]:
input("Enter a Number   : ")

Enter a Number   : 35

'35'

In [3]:
name=input("Enter Name")

Enter NameSri Rama

In [4]:
print(name)

Sri Rama

In [5]:
print(name,type(name))

Sri Rama <class 'str'>

In [13]:
mobile=input("Enter mobile number")
print("Mobile Number is :\t",mobile,'\n',"Its Type is \t",type(mobile))

Enter mobile number12345
Mobile Number is :	 12345
 Its Type is 	 <class 'str'>

In [17]:
if 2 == 3:
    print("if block executed")
else:
    print("Else block executed")

Else block executed

In [20]:
if 2==2:
    print("1")
print("2")

1
2

In [23]:
a=10
b=20
if a>b :
    print(a, "is greatest")
else :
    print(b ,"is greatest")

20 is greatest

In [ ]:
## Greatest of Three Numbers :
a = input("Enter value 1   :")
b = input("Enter value 2   :")
c = input("Enter value 3   :")
if(a>b):
    if(a>c):
        print(a," is Greater")
    else:
        print(c, " is Greater")
else:
    if(b>c):
        print(b," is Greater")
    else:
        print(c, "is Greater")

In [29]:
name = "Sri Rama"
for each in name:
    print(each,1,end=' ')

S 1 r 1 i 1   1 R 1 a 1 m 1 a 1

In [31]:
n="welcome"
for i in n:
    print(i,'*',end=' ')

w * e * l * c * o * m * e *

In [34]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [35]:
for i in range(1,20):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [39]:
for i in range(1,10):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9

In [41]:
for i in range(20,10,-1):
    print(i,end=' ')

20 19 18 17 16 15 14 13 12 11

In [43]:
for i in range(1,20):
    if i%2==0:
        print(i,end= ' ')

2 4 6 8 10 12 14 16 18

In [44]:
for i in range(1,3):
    print(i)
print(i)

1
2
2

In [45]:
for i in range(3):
    print(i)
else:
    print("Else executed")

0
1
2
Else executed

In [46]:
s='Ramaraju'
for ch in s:
    if ch=='a':
        print("a is in the string")

a is in the string
a is in the string
a is in the string

In [47]:
for i in range(3):
    print(i)
    break
else:
    print("Else executed")

0

In [49]:
i=1
while i<=10:
    print(i,end=' ')
    i+=1

1 2 3 4 5 6 7 8 9 10

In [50]:
i=10
while i>0:
    print(i,end=' ')
    i-=1

10 9 8 7 6 5 4 3 2 1

In [ ]:
s=input("Enter done to stop")
while s!='done':
    input("Enterstring")

In [3]:
num=10
print(type(num))
print(str(num))
print(type(str(num)))
print(type(num))

<class 'int'>
10
<class 'str'>
<class 'int'>

In [4]:
a='10.2'
print(a, type(a))
a=float(a)
print(a,type(a))
a=int(a)
print(a,type(a))

10.2 <class 'str'>
10.2 <class 'float'>
10 <class 'int'>

In [9]:
a=int(input("Enter first value  :"))

b=int(input("Enter second value :"))
if a>b:
    print(a,"is greatest")
else:
    print(b, "is greatest")

Enter first value  :10
Enter second value :7
10 is greatest

In [11]:
output=0
ds='12345'
ds=int(ds)
while ds>0:
    r=ds%10
    ds=int(ds/10)
    output=output+r

print(output)

15

In [14]:
total = 0
for each in '12345':
    total += int(each)
print(total)

15

In [17]:
n=int(input("Enter number"))
if n<2:
    print("Not Prime N umber")
else:
    for i in range(2,n):
        if n%i==0:
            print("Not Prime Number")
            break
    else:
        print("Prime Number")

Enter number13
Prime Number

In [24]:
name = "Sri-Rama"
print(name[2:])

i-Rama

In [25]:
print(name[1:5])

ri-R

In [28]:
print(name[::-1])

amaR-irS

In [29]:
s='Welcome'

In [30]:
print(s)

Welcome

In [31]:
a='123'
a.isdigit()

True

In [47]:
b='123A034a5'
output = 0
for i in b:
    if i.isdigit():
        output+=int(i)
    print(output)

1
3
6
6
9
13
18

In [48]:
b='123A034a5'
output = 0
for i in b:
    if i.isdigit():
        output+=int(i)
    print(output)

1
3
6
6
6
9
13
13
18

In [49]:
b='123A034a5'
output = 0
for i in b:
    if i.isdigit():
        output+=int(i)
print(output)

18

In [51]:
name = 'Rama Raju sir'
name.split()

['Rama', 'Raju', 'sir']

In [52]:
name.split('a')

['R', 'm', ' R', 'ju sir']

In [53]:
words=['R','m','r','ju']
'a'.join(words)

'Ramaraju'

In [54]:
words=['R','m','r','ju']
''.join(words)

'Rmrju'

In [55]:
words=['R','m','r','ju']
'@'.join(words)

'R@m@r@ju'

In [56]:
def addition(a,b):
    print(a,b)

In [57]:
result=addition(5,6)
print(result)

5 6
None

In [58]:
def addition(a,b):
    print(a,b) 
    return(a+b)

In [59]:
result=addition(5,6)

5 6

In [60]:
add(5,6)

NameError: name 'add' is not defined