## Find the name of student who got highest marks

students={'sai':[10,30,20],'ram':[30,50,10],'lakshmi':[1,2,3],'raju:[30,50,10]}

In [11]:
   
#to find highest marks
highest = 0
for name in students:
    marks = students[name]
    total=sum(marks)
    if highest<total:
        highest=total   
print('Highest Marks  ',highest)
# to find Name
for name in students:
    marks = students[name]
    total=sum(marks)
    if total==highest:
        print(name)

Highest Marks   90
ram
raju

In [13]:
students={'sai':[10,30,20],'ram':[30,50,10],'lakshmi':[1,2,3],'raju':[30,50,10]}
students_list = list(students.items())
print(students_list)

[('sai', [10, 30, 20]), ('ram', [30, 50, 10]), ('lakshmi', [1, 2, 3]), ('raju', [30, 50, 10])]

In [14]:
students_list.sort(key=lambda x:sum(x[1]),reverse=True)

In [16]:
print(students_list)

[('ram', [30, 50, 10]), ('raju', [30, 50, 10]), ('sai', [10, 30, 20]), ('lakshmi', [1, 2, 3])]

In [18]:
highest = sum(students_list[0][1])

In [19]:
print(highest)

90

In [22]:
print(list(filter(lambda x:sum(x[1])==90,students_list)))

[('ram', [30, 50, 10]), ('raju', [30, 50, 10])]

In [23]:
students={'sai':[10,30,20],'ram':[30,50,10],'lakshmi':[1,2,3],'raju':[30,50,10]}
students_list = list(students.items())
print(students_list)
students_list.sort(key=lambda x:sum(x[1]),reverse=True)
print(students_list)
highest = sum(students_list[0][1])
print(list(filter(lambda x:sum(x[1])==90,students_list)))

[('sai', [10, 30, 20]), ('ram', [30, 50, 10]), ('lakshmi', [1, 2, 3]), ('raju', [30, 50, 10])]
[('ram', [30, 50, 10]), ('raju', [30, 50, 10]), ('sai', [10, 30, 20]), ('lakshmi', [1, 2, 3])]
[('ram', [30, 50, 10]), ('raju', [30, 50, 10])]

In [1]:

numbers=[1for each in range(11)]
print(numbers)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [30]:
num = [each for each in range(1,11)]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
num = [each for each in range(1,11) if each%2==0]
print(num)

[2, 4, 6, 8, 10]

In [32]:
num3 = [each for each in range(1,11) if each%2!=0]
print(num3)

[1, 3, 5, 7, 9]

In [33]:
name = 'python programming'
namelist=list(name)

In [34]:
print(namelist)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']

In [35]:
count=0
print(len(namelist))
for each in namelist:
    if each!=' ':
        count+=1
print(count)

18
17

In [36]:
name2='Python programming lab'
print(len(name2))

22

In [38]:
output=[i for i in name2 if i!=' ']
print(output)
print(len(output))

['P', 'y', 't', 'h', 'o', 'n', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', 'l', 'a', 'b']
20

In [39]:
name3='Python programming Lab'
print(name3)
print(len(name3))
output=[i for i in name3 if i!='p' or i!='o']
# or
output=[i for i in name3 if i in ['p','o']]
print(output)
print(len(output))

Python programming Lab
22
['o', 'p', 'o']
3

In [40]:
name3='Python programming Lab'
print(name3)
print(len(name3))
# output=[i for i in name3 if i!='p' or i!='o']
# or
output=[i for i in name3 if i not in ['p','o']]
print(output)
print(len(output))

Python programming Lab
22
['P', 'y', 't', 'h', 'n', ' ', 'r', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'L', 'a', 'b']
19

In [41]:
nu ='11cse123'
nulist=list(nu)
print(nulist)

['1', '1', 'c', 's', 'e', '1', '2', '3']

In [45]:
n='11cse123'
nulist=list(n)
s=0
for each in nulist:
    if each.isdigit():
        s+=int(each)
print(s)

8

In [51]:
n1='11cse123'
s=[int(i) for i in n1 if i.isdigit()]
print(sum(s))

8

In [52]:
dc_square={i:i*i for i in range(6)}
print(dc_square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [53]:
words=['apple','orange','banana','apple','apple','orange','brinjal']
freq={word:words.count(word) for word in words}
print(freq)

{'apple': 3, 'orange': 2, 'banana': 1}

In [55]:
name='Sri Ramaa'
unique={item for item in name}
print(unique)

{'R', 'm', 'i', 'S', ' ', 'a', 'r'}

In [18]:
words=['apple','banana','apple','orange']
unique={item for item in words}
print(unique)
print(len(unique))

{'orange', 'banana', 'apple'}
3

In [17]:
s = {2,3,89,5,'A'}
t = {'apple','banana','apple','orange'}
for i in t:
    c=0
    for j in i:
        c = c+ord(j)
    print(c,i)
t

636 orange
609 banana
530 apple

{'apple', 'banana', 'orange'}

In [65]:
n=[(each,each**2,each**3) for each in range(1,6) ]
print(n)

[(1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64), (5, 25, 125)]

In [77]:
n=[tuple(range(1,each+1)) for each in range(1,6)]
print(n)

[(1,), (1, 2), (1, 2, 3), (1, 2, 3, 4), (1, 2, 3, 4, 5)]

## Files

In [81]:
fh=open('book.txt','r')
data=fh.read()
print(data)
fh.close()

line1
line2
line3
line4  line 5

In [84]:
fh=open('book1.txt','w')
data='hai ra mama'
fh.write(data)
fh.close()

In [92]:
fh1=open('students.txt','r')
fh2=open('report1.txt','w')
fh2.write(fh1.read())
fh1.close()
fh2.close()

In [94]:
fh=open('book.txt','r')
print('Old Data: ',fh.read())
fh.close()

Old Data:  hai ra mama

In [96]:
fh=open('book.txt','a')
data=input("Enter Data")
fh.write(data)
fh.close()

Enter Data when are you coming

In [97]:
fh=open('students.txt','r')
for line in fh:
    print(line)
fh.close()

name     python     c     java

ayyappa    90       70     60

lakshmi    70       60     30

ram        90       90     80

ldfjksadklfsakdjf

dlkflasdfj

In [98]:
fh=open('students.txt','r')
count=0
for line in fh:
    count+=1
    #print(line)
print('Number of line :',count)
fh.close()

Number of line : 6

In [100]:
fh=open('students.txt','r')
count=0
for line in fh:
    count+=1
    print('Line Number :',count,line)
fh.close()

Line Number : 1 name     python     c     java

Line Number : 2 ayyappa    90       70     60

Line Number : 3 lakshmi    70       60     30

Line Number : 4 ram        90       90     80

In [110]:
fh=open('students.txt','r')
for line in fh:
    words=line.split()
    name=words[0]
    print(name)
fh.close()

name
ayyappa
lakshmi
ram

In [117]:
fh=open('students.txt','r')
for line in fh:
    words=line.split()
    name=words[0]
    marks=words[1:]
    print(marks)
fh.close()

['python', 'c', 'java']
['90', '70', '60']
['70', '60', '30']
['90', '90', '80']

In [120]:
fh=open('students.txt','r')
count=0
for line in fh:
    count+=1
    if count!=1:
        words=line.split()
        name=words[0]
        marks=words[1:]
        print(marks)
fh.close()

['90', '70', '60']
['70', '60', '30']
['90', '90', '80']

In [132]:
fh=open('students.txt','r')
count=0
for line in fh:
    count+=1
    if count!=1:
        words=line.split()
        marks=words[1:]
        tot=sum(list(map(int,marks)))
        print(tot)
fh.close()

220
160
260

In [133]:
fn='sri'
ln='rama'
print(fn+ln)

srirama

In [140]:
fh=open('students.txt','r')
fh2=open('report.txt','w')
count=0
for line in fh:
    count+=1
    line=line.rstrip()
    if count==1:
        fh2.write(line+'   Total\n')
    if count!=1:
        words=line.split()
        marks=words[1:]
        tot=sum(list(map(int,marks)))
        fh2.write(line+'      '+ str(tot)+'\n')
fh.close()
fh2.close()