## Function Contd.....

#### C) Default Arguments

In [7]:
def addition(a,b,c=100):
    return a+b+c

In [8]:
addition(10,20,30)

60

In [9]:
addition(12,20)

132

In [10]:
def addition(a,b,*var):
    print(a)
    print(b)
    print(var)

In [11]:
addition(10,20)

10
20
()

In [12]:
addition(10,20,30,40,50)

10
20
(30, 40, 50)

In [13]:
def primeornot(a):
    a=int(a)
    if a<2:
        print("Not Prime Number")
    else:
        for i in range(2,a):
            if a%i==0:
                print("Not Prime Number")
                break
        else:
            print("Prime Number")

In [14]:
primeornot(5)

Prime Number

In [18]:
primeornot(4)

Not Prime Number

In [30]:
def primeornot2(a):
    a=int(a)
    if a<2:
        r= 0
    else:
        for i in range(2,a):
            if a%i==0:
                r= 0
                break
        else:
            r= i+1
    if r==0:
        print("Not a prime Number",r)
    else:
        print("Prime number",r)

In [28]:
primeornot2(5)

Prime number 5

In [31]:
primeornot2(6)

Not a prime Number 0

In [32]:
def isprime(number):
    if number < 2:
        return False
    if number >= 2:
        for i in range(2,number):
            if number%i ==0:
                return False
        else:
            return True

In [33]:
isprime(3)

True

In [34]:
isprime(6)

False

## Print prime Number upto N

In [40]:
def printprime(n):
    for i in range(1,n):
        r=isprime(i)
        if r==True:
            print(i,end=' ')
    else:
        print("Thank you")

In [41]:
printprime(10)

2 3 5 7 Thank you

In [42]:
printprime(100)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 Thank you

## Print first N Prime Number

In [43]:
def firstnprime(n):
    start =1
    count=0
    while count<=n:
        if isprime(start):
            print(start,end=' ')
            count+=1
        start+=1

In [55]:
firstnprime(4)

2 3 5 7 11

In [56]:
def sum_of_first_n_prime(n):
    start =1
    count=0
    sum=0
    while count<n:
        if isprime(start):
            #print(start,end=' ')
            sum+=start
            count+=1
        start+=1
    avg=sum/n
    print(sum)
    print(count)
    print(avg)

In [57]:
sum_of_first_n_prime(10)

129
10
12.9

## 3. Anonymous Function

In [58]:
add = lambda a,b: a+b

In [59]:
add(1,2)

3

In [60]:
squar=lambda a:a*a

In [61]:
squar(5)

25

## List

In [62]:
marks=[]
names=list()
print(type(marks))
print(type(names))

<class 'list'>
<class 'list'>

In [64]:
len(names)

0

In [68]:
len(marks)

4

# to add items in list

In [69]:
marks=[10,20,30,40]

In [70]:
print(len(marks))

4

In [71]:
for item in marks:
    print(item)

10
20
30
40

In [72]:
marks[0]

10

In [74]:
marks[1]
marks[3]

40

In [75]:
marks[-1]

40

In [76]:
marks[-2]

30

In [78]:
marks[-4]

10

In [79]:
marks[0]=100

In [80]:
marks

[100, 20, 30, 40]

In [81]:
marks[1:]

[20, 30, 40]

In [82]:
marks=[11,21,23,44,55,77,88,99,33,66]

In [83]:
marks[:3]

[11, 21, 23]

In [84]:
marks[3:7]

[44, 55, 77, 88]

In [85]:
marks[0:6:2]

[11, 23, 55]

In [86]:
marks[::-1]

[66, 33, 99, 88, 77, 55, 44, 23, 21, 11]

## List mETHODS

In [88]:
marks

[11, 21, 23, 44, 55, 77, 88, 99, 33, 66]

In [89]:
marks.append(1000)

In [90]:
marks

[11, 21, 23, 44, 55, 77, 88, 99, 33, 66, 1000]

In [91]:
marks=[11,22,33,44]

In [92]:
marks

[11, 22, 33, 44]

In [93]:
print(marks)
marks.clear()

[11, 22, 33, 44]

In [94]:
print(marks)

[]

In [95]:
marks=[11,22,33,44]
marks2=marks.copy()
print(marks,marks2)

[11, 22, 33, 44] [11, 22, 33, 44]

In [96]:
marks3=marks
print(marks3,marks)

[11, 22, 33, 44] [11, 22, 33, 44]

In [97]:
marks.clear()

In [98]:
print(marks3,marks)

[] []

In [99]:
print(marks2,marks)

[11, 22, 33, 44] []

In [100]:
m=[[10,30],[5,6],[8,35]]

In [101]:
m

[[10, 30], [5, 6], [8, 35]]

In [102]:
m.sort()

In [103]:
print(m)

[[5, 6], [8, 35], [10, 30]]

In [104]:
m

[[5, 6], [8, 35], [10, 30]]

In [105]:
m[0]

[5, 6]

In [106]:
m[0:1]

[[5, 6]]

In [107]:
m[0]

[5, 6]

In [108]:
marks=[[6,5],[30,10],[35,8]]

In [109]:
marks

[[6, 5], [30, 10], [35, 8]]

In [111]:
for item in marks:
    item.reverse()

In [112]:
print(marks)

[[5, 6], [10, 30], [8, 35]]

In [113]:
marks.sort()

In [114]:
print(marks)

[[5, 6], [8, 35], [10, 30]]

In [115]:
for item in marks:
    item.reverse()

In [116]:
print(marks)

[[6, 5], [35, 8], [30, 10]]

In [117]:
marks=[[10,20,30],[5,22,18],[11,21,35]]
marks.sort(key=lambda x:x[1])
print(marks)

[[10, 20, 30], [11, 21, 35], [5, 22, 18]]

In [118]:
marks

[[10, 20, 30], [11, 21, 35], [5, 22, 18]]

In [119]:
sum(marks)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [120]:
m

[[5, 6], [8, 35], [10, 30]]

In [2]:
m=[[5,6],[8,7],2]

In [3]:
m

[[5, 6], [8, 7], 2]

In [5]:
m=[1,2,3,4]

In [6]:
m

[1, 2, 3, 4]

In [7]:
sum(m)

10

In [8]:
min(m)

1

In [9]:
max(m)

4

In [15]:
marks=['10','20','30']
marks2=[]
for each in marks:
    marks2.append(int(each))
print(marks)
print(marks2)
print(sum(marks2))

['10', '20', '30']
[10, 20, 30]
60

## Sort based on total Marks

In [26]:
marks=[[10,20,30],[20,10,20],[5,50,40]]
marks.sort(key=lambda x:sum(x))
print(marks)

[[20, 10, 20], [10, 20, 30], [5, 50, 40]]

In [29]:
m1=['10','20','30','40']

In [30]:
m1

['10', '20', '30', '40']

In [31]:
map(int,m1)

In [32]:
list(m1)

['10', '20', '30', '40']

In [33]:
list(map(int,m1))

[10, 20, 30, 40]

In [34]:
x=list(map(int,m1))

In [35]:
x

[10, 20, 30, 40]

In [39]:
n=[1,2,3]
r=list(map(lambda x:x**3,n))
print(r)

[1, 8, 27]

In [40]:
fruits=['apple','Orange','apple','Orange','apple']
r=list(filter(lambda x:x=='apple',fruits))
print(r)

['apple', 'apple', 'apple']

In [45]:
t1=(10,20,30,30)
t1.count(30)

2

In [44]:
t1.index(20)

1

In [46]:
t2=(10,20,30,30)

In [47]:
t1==t2

True

In [48]:
s1=set([1,2,3])
s1

{1, 2, 3}

In [49]:
print(s1)

{1, 2, 3}

In [50]:
s1.add(10)

In [51]:
print(s1)

{10, 1, 2, 3}

In [56]:
freq={}
name='SriRama'
for item in name:
    if item in freq:
        freq[item]=freq[item]+1
    else:
        freq[item]=1
print(freq)

{'S': 1, 'r': 1, 'i': 1, 'R': 1, 'a': 2, 'm': 1}

In [57]:
names=['sai','ram']
{}.fromkeys(names)

{'sai': None, 'ram': None}

In [59]:
names=['sai','ram']
{}.fromkeys(names,1)

{'sai': 1, 'ram': 1}

In [60]:
name='sairam'
freq={}.fromkeys(name,0)
print(freq)

{'s': 0, 'a': 0, 'i': 0, 'r': 0, 'm': 0}

In [62]:
name='sairam'
freq={}.fromkeys(name,0)
print(freq)
for item in name:
    freq[item] =freq[item]+1
print(freq)

{'s': 0, 'a': 0, 'i': 0, 'r': 0, 'm': 0}
{'s': 1, 'a': 2, 'i': 1, 'r': 1, 'm': 1}

In [63]:
d1={'name':'sai','branch':'cse'}
print(d1)
print(d1.get('branch'))
print(d1)

{'name': 'sai', 'branch': 'cse'}
cse
{'name': 'sai', 'branch': 'cse'}