# Heading

## Subtitle
### Subtitle
#### Subtitle

* points
* Points
* Points
- Points
> Enter your text here

**Bold** <br>
*italic* <br>
***bold+italic***

* your text
    * hghjdh
        * jfdjfh
            * djfhgdh

# Problem Solving Skills using Python
## Python 
### Markdown syntax

* [ ] option
- [x] option

![](image.png)[Title for Image]

# Day Objectives

## 1. Introduction
    A. JuPyteR and Markdown syntax ( julia,python,R )
    B. Python

## 2. Operators
    A. Arithmetic Operators ( +,-,*,%,/,//,**)
    B. Assignment Operators ( =, +=, -=, *=, %=, /=, //=) 
    C. Comparison operators ( ==, >=, <=, !=, >, < )
    D. Logical operators    ( and, or, not )
    E. Bitwise Operators    ( &, |, ~, ^, >>, <<)
    F. Identity operators   ( is, is not)
    G. Membership operators  (in, not in )

## 3. Variables
    - which holds some value
    - single variable assignment
    - multiple variable assignment

## 4. Data types
    A. int,float,bool
    B. List,tuple,string,Dictionary, set
## Input and Output
    - static and dynamic

In [36]:
0+1 # addition

1

In [37]:
0-1

-1

In [38]:
0//1

0

In [39]:
0%1

0

In [40]:
0/1

0.0

In [41]:
0**1

0

In [42]:
2**2

4

In [46]:
5.9/2

2.95

In [47]:
5.9//2

2.0

In [53]:
a = 2
a == 2

True

In [54]:
a +=7
#a = a+7

In [56]:
print(a)

9

In [60]:
a1 = 10
a2 = 100
print(a1 == a2)
print(a1 != a2)
print(a1 > a2)

False
True
False

In [74]:
True and False

False

In [75]:
True or False

True

In [76]:
2 & 1

0

010
001
000 - 0

010
011
010 - 2

In [77]:
2 & 3

2

In [78]:
2 | 6

6

In [79]:
6 | 2

6

In [80]:
~ 3

-4

011 + 1
-(100)

In [81]:
~ 0

-1

In [83]:
3 ^ 8
8 ^ 3

11

0011
1000
1011

In [84]:
2 >> 4

0

In [85]:
4 >> 2

1

In [87]:
12 >> 1

6

In [88]:
12 << 2

48

In [89]:
3 << 2

12

In [90]:
 1 is 1

True

In [91]:
True is True

True

In [92]:
True is not True

False

In [95]:
 5 not in (12,32,45)

True

In [96]:
2 ** 0

1

In [97]:
5 % 2

1

In [100]:
x=1
x += 100
x

101

In [101]:
7 >= 6

True

In [102]:
True and True

True

In [ ]:
3 & 8
0011
1000
0000 0

In [103]:
~ 7

-8

In [104]:
3 >> 3

0

In [105]:
4 << 3

32

In [106]:
1 is 1

True

In [110]:
2 not in [4,5,2]

False

In [113]:
3 and 1

1

In [116]:
4 << 2

16

# variables

In [117]:
a = 3

In [120]:
isa = 3
_ = 0

In [ ]:
val
val3
_233
_f
 23
 b

In [122]:
a = 12,34,66
type(a) # it take it as tuple

tuple

In [125]:
a=b=u = 1
u # single value to multiple variables

1

In [126]:
a,u,h = 1,5,3 # multiple values to multiple variables
h

3

In [127]:
value = 2
type(value)

int

In [128]:
value = 2.79787
type(value)

float

In [129]:
value = "7"
type(value)

str

In [130]:
value = True
type(value)

bool

In [131]:
value = "True"
type(value)

str

In [132]:
value = [2,4,5]
type(value)

list

In [133]:
value = 2,7,9
type(value)

tuple

In [134]:
value = {2:34,5:34}
type(value)

dict

In [135]:
value = {2,4,5,9}
type(value)

set

In [136]:
v  = []
type(v)

list

In [137]:
d = {}
type(d)

dict

In [138]:
type(dict())

dict

In [139]:
type(())

tuple

In [146]:
s = "00"

print(type(s))
print(type(int(s)))

<class 'str'>
<class 'int'>

In [150]:
s = 55
print(type(s))
print(type(str(s)))
print(type(float(s)))

<class 'int'>
<class 'str'>
<class 'float'>

In [154]:
s = 0
print(bool(s))

False

In [155]:
s = 23.34
print(int(s))

23

In [156]:
type(True)

bool

In [161]:
a = 6 # static
input("enter a value") # dynamic input reading

enter a valuehii

'hii'

- Take distance = 200km and time = 20hr find the speed in m/s.
- Calculate the number of nanoseconds in a year
- square root of a number without using any function
- multiply a number 6 with 2 by 20 times without using * operator